@page
@model ASPNETCORE_IDENTITY.Pages.Account.AccessDeniedModel
@{
}
<div class="text-center">
    <h1 class="display-4">ACCESS DENIED!! you don't have the permission/role/claim to access this page </h1>
</div>
